<br>
<h1>Help with FoodGenome</h1>
<h2>Overall tips,</h2>
<p>This is a twitter gateway for FoodGenome.
<p>Usage,</p>
<ol>
<li>First you will need an account on <a href="http://twitter.com">twitter</a></li>
<li>Send a message to @foodgenome on twitter and tell it about what food you want or what ideas you have.</li>
<li>@foodgenome will message you back with suggestions</li>
</ol>
<h2>Tips on formatting your messages</h2>
<p>You can send your messages using plain english. See examples below</p>
<ol>
<li>@foodgenome bacon, maple syrup</li>
<li>@foodgenome bacon, maple syrup #yum</li>
<li>@foodgenome bacon, maple syrup l:94110</li>
</ol>
<h2>Use hashtags to provide hints such as</h2>
<ol>
<li>#yum           describe a meal you liked</li>
<li>#yuck          describe a meal you hated</li>
<li>#save          save a meal</li>
<li>#nearby        where are the nearest sources for this meal?</li>
<li>#bike          a thing that you want or have</li>
<li>L:pdx          where you are if not your default location on twitter</li>
<li>#private       privately message me back please only</li>
<li>#public        publically message me please</li>
</ol>
<h2>Forgot your password?</h2>
<p>You can get a new password here: <a href="/forgot" alt="forgot_your_password" title="forgot password">Get a new password here.</a> 
</p>
<h2>What are the terms of use?</h2>
<p>Currently everything is CC licensed as openly as possible.
Probably in a little while we will be able to spend more time allowing everyone to state their own licenses for their images.
</p>
<h2>What is the current Privacy guideline?</h2>
<p>Since we are so young, nothing is private as of yet.
BUT we will not share your email address with anybody no matter what! :)
We will not share your use/activity with anybody.
And your passwords are encrypted so that we don't even know them ourselves! 
</p><h2>What are the general use guidelines?</h2
<p>Don't upload porn. Please? Kthnx.
</p>
<h2>Is there an API?</h2>
<p>See the foodgenome project</p>
<h2>How do I contact people working on this project?</h2><p>
<p>See the food genome website</p>
<h2>Is there support for other languages?</h2>
<p>Not yet, but clearly this is important and will happen as soon as we can find people to do it.</p> 
<h2>How Can I Help?</h2>
<p>Yay! We are so glad you asked! You can help a couple of ways actually, try it out, give us feedback, help us code!
</p>
<br>

